environment     = "prod"
aws_access_key  = "your_secret"
aws_secret_key  = "your_secret"
ssl_certificate = "arn:aws:acm:<us-west-2>:?????????:certificate/????????-????-????-????-????????????"
ec2_instance_type = "t4g.small"
ecs_task_cpu    = 1024
ecs_task_memory = 1024
ecr_container_image = "?????????????.dkr.ecr.<us-west-2>.amazonaws.com/mixpanel-proxy"
